sudo pip2 install numpy
sudo pip2 install pyscreenshot
sudo pip2 install autopy
sudo pip2 install pillow
sudo pacman -S opencv 3.1.0-3+
sudo pacman -S imagemagick or scrot (image backend)
sudo pacman -S xdotool
sudo pacman -S tk (tkinter (tk))
sudo pacman -S unix-runescape-client
sudo pacman -S i3 # window manager


